*

!lib/**
!assets/**
!scripts/**
!github/**

!*/
!*.h
!*.c
!*.cpp
!*.md

!.gitignore

!*.mk
!Makefile

# specific whitelist
!src/shell.html
!src/public/**
!src/js/**

!Dockerfile
!deployment.yaml
!dev-server.sh
!server.py
!deploy.sh